<template>
  <div id="app">    
    <p v-html="content"></p>

  </div>
</template>

<script>
  export default {
      name: 'app',
      data() {
        return {
          innerHTML :" toto"
        }
      },

      computed: {
          content() {
            return this.innerHTML 
          },
      },

      mounted : function() {
          console.log("geolocation will be asked")
          this.innerHTML = axios.get("https://maps.googleapis.com/maps/api/js?key=AIzaSyBN86nFU5MCgv3dX5_kvknk6O8ajtm8F_g")
          // if (navigator.geolocation) {
          //   navigator.geolocation.getCurrentPosition(position => {
          //       this.innerHTML = "Latitude: " + position.coords.latitude + 
          //                       "<br>Longitude: " + position.coords.longitude;
          //     });
          // } else { 
          //   this.innerHTML  = "Geolocation is not supported by this browser.";
          // }
      }

    }
</script>
