<template>
      <v-layout row wrap v-if="ready" >

      <v-flex xs12>
          <h1> Home </h1>
          <v-divider ></v-divider>
      </v-flex>
      <br><br>


      <v-flex xs12>
            <v-layout row wrap>
        <v-card>
          <v-img
            :src="require('../assets/boussole.png')"
            aspect-ratio="2.75"
          ></v-img>

          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">GPS coordinates</h3>
              <p><strong>Longitude</strong> : {{ this.coords.longitude }}</p>
              <p><strong>Latitude</strong> : {{ this.coords.latitude }}</p>
              <p><strong>Altitude</strong> : {{ this.coords.altitude }}</p>
              <p><strong>Accuracy</strong> : {{ this.coords.accuracy }} meters</p>
              <p><strong>Altitude accuracy</strong> : {{ this.coords.altitudeAccuracy }} meters</p>
             
              <p><strong>Degrees clockwise from true north</strong> : {{ this.coords.heading }}</p>


            </div>
          </v-card-title>



        </v-card>

        <v-card>
          <v-img
            :src="require('../assets/boussole.png')"
            aspect-ratio="2.75"
          ></v-img>

          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Tasks</h3>
              <p><strong>Longitude</strong> : {{ this.coords.longitude }}</p>
              <p><strong>Latitude</strong> : {{ this.coords.latitude }}</p>
              <p><strong>Altitude</strong> : {{ this.coords.altitude }}</p>
              <p><strong>Accuracy</strong> : {{ this.coords.accuracy }} meters</p>
              <p><strong>Altitude accuracy</strong> : {{ this.coords.altitudeAccuracy }} meters</p>
             
              <p><strong>Degrees clockwise from true north</strong> : {{ this.coords.heading }}</p>


            </div>
          </v-card-title>



        </v-card>
            </v-layout>
      </v-flex>

    </v-layout>
    <v-layout v-else align-center justify-center row fill-height> 
        <v-progress-circular :size="70" :width="7" color="#7451EB" indeterminate></v-progress-circular>
    </v-layout>

</template>


<script>
  export default {
  name:'home',
  data() {
    return {
      coords : {},
      apiKey : '',
      ready: false,
      valid: true,
      apikeyRules: [
          (v) => !!v || "API Key required."
      ]
    }
  },
    mounted : function() {
     this.getCoords();

     this.$settings.get('gmailapikey').then(function(doc) {
        this.ready = true;
        this.apiKey = doc['value'];
      }.bind(this)).catch(function(err) {
        this.ready = true;
      }.bind(this));

    },
    methods : {
      getCoords() {
          let p = new Promise((resolve) => {
            let a = {};

              navigator.geolocation.getCurrentPosition(function(location) {
                a['latitude'] = location.coords.latitude;
                a['longitude'] = location.coords.longitude;
                a['accuracy'] = location.coords.accuracy;
                a['altitude'] = location.coords.altitude;
                a['altitudeAccuracy'] = location.coords.altitudeAccuracy;
                a['heading'] = location.coords.heading;
                resolve(a);
              });      
          });

          p.then((coords) => {
            this.coords = coords;
          });

      },

    }

  }
</script>

<style>

</style>
