<template>
      <v-layout row wrap v-if="ready" >

      <v-flex xs12>
          <h1> Settings </h1>
          <v-divider ></v-divider>
      </v-flex>


      <v-flex xs5>

        <v-form @submit.prevent="save" ref="form" v-model="valid" lazy-validation>
                <v-text-field v-model="apiKey" :rules="apikeyRules" label="Google API Key" required></v-text-field>

                <v-btn type="submit" color="info" :disabled="!valid">Save<v-icon dark right>mdi-floppy</v-icon></v-btn>
        </v-form>

      </v-flex>
    </v-layout>
    <v-layout v-else align-center justify-center row fill-height> 
        <v-progress-circular :size="70" :width="7" color="#7451EB" indeterminate></v-progress-circular>
    </v-layout>

</template>


<script>
  export default {
  name:'settings',
  data() {
    return {
      apiKey : '',
      ready: false,
      valid: true,
      apikeyRules: [
          (v) => !!v || "API Key required."
      ]
    }
  },
    mounted : function() {

     this.$settings.get('googleapikey').then(function(doc) {
        this.ready = true;
        this.apiKey = doc['value'];
      }.bind(this)).catch(function(err) {
        this.ready = true;
      }.bind(this));


    },
    methods : {
      save() {

         this.$settings.upsert('googleapikey', (doc) => {
            doc['value'] = this.apiKey;
           return doc;
        }).then(function(res) {
        }).catch((err) => {
          console.error(err);
        });

      
      }

    }

  }
</script>

<style>

</style>
