<template>
  <v-app id="app">
    <v-navigation-drawer v-model="drawer" fixed app>
      <v-list dense>
        <v-list-tile v-on:click="goToHome">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-on:click="goToSettings">
          <v-list-tile-action>
            <v-icon>mdi-settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Settings</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="#7451EB" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Application</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid>
            <!-- CONTENT HERE -->
            <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer color="#7451EB" app>
      <span class="white--text">&copy; 2018</span>
    </v-footer>
  </v-app>
</template>


<script>

export default {
  name: 'App',
  data: () => ({
      drawer: null
    }),
    methods : {
      goToSettings : function() {
        this.$router.push({name : "settings"});
      },
      goToHome : function() {
        this.$router.push({name : "home"});
      },

    }
}
</script>
